<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title> Rock, Paper, Scissors </title>
</head>

<body>
  <h1> <%= @player_name %> is playing! <h1>
    <h2> Select rock, paper or scissors: </h2>

      <form action='/confirmation' method='post'>
        <input type='image' value='Rock' name='shape' src='/images/rock.jpg' style='width: 20%;height:200px' alt='Rock'>
      </form>

      <form action='/confirmation' method='post'>
        <input type='image' value='Paper' name='shape' src='/images/paper.jpg' style='width: 20%;height:200px' alt='Paper'>
      </form>

      <form action='/confirmation' method='post'>
        <input type='image' value='Scissors' name='shape' src='/images/scissors.jpg' style='width: 20%;height:200px' alt='Scissors'>
      </form>
</body>
